%p#notice= notice

%p
  sid 
  =@suplier.sid
%p
  title 
  =@suplier.title
%p
  pricetax 
  =@suplier.pricetax
%p
  pages 
  =@suplier.pages
%p
  year 
  =@suplier.year
%p
  onpn 
  =@suplier.onpn
%p
  author 
  =@suplier.author
%p
  header 
  =@suplier.header
%p
  std 
  =@suplier.std
%p
  price 
  =@suplier.price
%p
  publisher 
  =@suplier.publisher
%p
  translate 
  =@suplier.translate
%p
  year 
  =@suplier.year
%p
  genre 
  =@suplier.genre
%p
  series 
  =@suplier.series
%p
  format 
  =@suplier.format
%p
  isbn 
  =@suplier.isbn
%p
  article 
  =@suplier.article
%p
  ean 
  =@suplier.ean
%p
  category 
  =@suplier.category

= link_to 'Редактировать', edit_suplier_path(@suplier)
\|
= link_to 'Назад', supliers_path
